@import "../../../../../state.scss";




.address{
  width: 1090px;
 @include info-d-flex;
}
.address-list-wrapper{
  @include flex;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
  justify-content: start;
  color: $color;
  padding: 0;
}


.address-list-items:not(:nth-child(1)){
  margin-left: 55px;

}
.bi {
  font-size: 20px;
}



.address-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  transition: ease-in-out 500ms;
  &:hover {
    color: green;
    cursor: pointer;
  }
}
.bi-telephone{
margin-bottom: 5px;
  font-size: 20px;

}
.bi-envelope-open{
  margin-bottom: 5px;
  font-size: 20px;


}
.bi-geo-alt-fill {
  margin-bottom: 5px;
  font-size: 20px;
}
.span-address {
  width: 100%;
  white-space: nowrap;


}