@import "../../state";


.recent-categories{
  @include d-block;
  align-items: start;
  width: 100%;
  height: 1320.94px;

}

.categories-h2 {
  width: 100%;
  text-align: start;
  height: 48px;
  margin: 0;
  font-size: 40px;
}
.categories-hr{
  width: 70px;
  margin:25px 0 0 0 ;
  border-top:2px solid green;
  text-align: start;

}
.houses-chose {
  @include flex;
  margin: 55px 0 0 0;
  height: 1100px;
  :not(:nth-child(3)){
   .houses {
     padding-bottom: 15px;
   }
}

}
.chose {

  border: 1px solid black;
  padding: 0 15px;

}

.category-button{
  @include flex;
  align-items: center;
  margin-top: 30px;
  width: 219.39px;
  height: 50px;
  border-radius: 7px;
}


.houses {
  @include d-block;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: start;
  text-align: start;
}
.recent-properties {
  align-items: start;
  padding: 90px 0;
}
.properties-image {
  width: 100%;
 height: 250px;
  padding-bottom: 15px;
}
.properties-name {
  width: 100%;
  font-size: 30px;
  color: green;
  transition: 300ms ease-in-out;
  &:hover {
    color: darkgreen;
    cursor: pointer;
  }

}
.properties-cost {
  font-size: 20px;
  margin-bottom: 25px;
}
.advanteges1 {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.bi-house , .bi-droplet-half {
  display: flex;
  margin-right: 50px;
  align-items: baseline;
  color: orangered;
}
.bi-layout-sidebar-reverse , .bi-truck{
  display: flex;
  margin-right: 50px;
  align-items: baseline;
  color: orangered;
}
.quantity {
  padding-left:15px ;
  font-size: 15px;
  color: gray;
}
.advanteges2{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.one, .two , .three {
  padding-bottom: 15px;
}
 .four , .five , .six{
  padding-top: 15px;
}
 .category-button {
   background-color: lawngreen;
   border: none;
   outline: none;
   &:hover{
     background-color: green;
     cursor: pointer;
   }
 }