@import "../state";

.footer-wrapper{
  @include flex;
  height:492px;
  justify-content: center;
  align-items: start;
  display: block;
  max-width: 1200px;


}

.footer-wrapper-items {
  @include d-block;
  max-width: 1200px;
  margin-top: 55px;
  display: flex;
  height: 250px;
}

.footer {
  @include flex;
  height: 100%;
}

.footer-social-media{
  margin: 20px 0 0 0 ;
  padding: 0;
  max-width: 1200px;
  @include flex;
  height: 147px;
  justify-content: space-between;
}

.policy {
width: 322px;
  @include flex;
  height: 22px;
}


.footer-links {
  width: 172.984px;
  @include flex;
  height: 29px;
}